*{
    margin: 0;
    padding: 0;
    font-family: 'Dancing Script', cursive;
    box-sizing: border-box;
}
.header{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    position: relative;
    justify-content: center;
}
.nav{
    text-align: center;
    font-size: 62px;
    font-weight: 600;
    color: #f4367f;
    z-index: 1;
}
nav img{
    width: 150px;
}
.text-box{
    justify-content: center;
    width: 100%;
    color: #f4367f;
    position: absolute;
    top: 50%;
    left: 51%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
    font-weight: 700;
    text-decoration-thickness: 50%;
    background-color:rgba(255, 255, 255, 0.5);
    color: #f4367f;
    padding-bottom: 20px;
    position: relative;
}
.hero-btn{
    font-size: medium;
    font-weight: 500;
    display:inline-block;
    text-decoration: none;
    color: #f4367f;
    background: rgba(255, 255, 255, 0.5);
    border: solid;
    padding: 12px 34px;
    position: relative;
    cursor: pointer;
    font-size: 13px;
}
.hero-btn:hover{
    border: 1px solid #f4367f;
    background-color: white;
}
.video-container{
    background-color: bisque; 
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

@media(max-width:1080px) {
.header{
    display: block;
    height: 20vh;
    width: 100%;
}
}
/*--------- PlacesToVisit ----------*/

h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: black;
    font-size: 18px;
    font-weight: 300;
    line-height: 18px;
    padding: 10px;
    text-align: center;
}
.PlacesToGo{
    width: 100%;
    height:100vh;
    text-align: center;
    display: block;
    background-color: rgb(183, 231, 184);
    margin-bottom: 5%;
}
.visits{
    margin-top: 2%;
    background-color: transparent;
    width: 100%;
    height: 400px;
    perspective: 1000px;
    display: flex;
    justify-content: space-between;
}

.fall{
    position: relative;
    width: 70%;
    height: 60vh;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.20%);

}
  
.spring{
    position: relative;
    width: 70%;
    height: 60vh;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.20%);
}

.winter{
    position: relative;
    width: 70%;
    height: 60vh;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.20%);
}

.fall:hover{
    transform: rotateY(180deg);
}

.spring:hover {
    transform: rotateY(-180deg);
}

.winter:hover{
    transform: rotateY(180deg);
}
  
.season-front, .season-back {
    position: absolute;
    backface-visibility: hidden;

}
  
.season-front {
    background-color: transparent;
    color: black;
  }
  
.season-back {
    padding-left: 10%;
    background-color: bisque;
    color: black;
    transform: perspective(600px) rotateY(180deg);
    justify-content: center;
  }

.values{
    color: blue;
    justify-content: left;
    text-align: left;
}

/*----------- Speciality ------------*/
.FingerLakes{
    text-align: center;
    background-color: rgb(236, 196, 196);
    text-decoration: rgb(42, 85, 165);
    padding-top: 20px;
}
.lake{
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

.img{ 
    flex-direction: column;
}

img p{
    font-size: medium;
}

.speciality{
    justify-content: center;
    align-items: center;
    position: relative;
    padding-left: 40px;
}

.FingerLakes .h1{
    margin-top: 5%;
    text-align: center;
    color: blueviolet;
}
.lake .h2{
    text-align: center;
}

@media(max-width:1080px){
    .PlacesToGo{
        display: block;
        height: 70vh;
        width: 100%;
        flex-direction: column;
    }
}
/*----------- Explanation -----------*/
.Explanation{
    text-align: center;
    background-color: rgb(218, 217, 235);
    text-decoration: rgb(42, 85, 165);
    margin-bottom: 20px;
    padding-top: 20px;
}
.Row{
    margin-top: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 150%;
}
.attractions1{
    flex-basis: 70%;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.About1{
    width: 40%;
    height: 70%;
    box-sizing: inherit;
    justify-content: center;
    text-align: center;
    background-color: rgb(133, 212, 218);
    margin: 30px;
    rotate: 4deg;
}
.attractions2{
    flex-basis: 70%;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    rotate: 10deg;
}
.About2{
    width: 40%;
    height: 70%;
    box-sizing: inherit;
    justify-content: center;
    text-align: center;
    background-color: rgb(93, 169, 93);
    margin: 30px;
    rotate: -10deg;
}
.attractions3{
    flex-basis: 70%;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    rotate: -7deg;
}
.About3{
    width: 40%;
    height: 70%;
    box-sizing: inherit;
    justify-content: center;
    text-align: center;
    background-color: rgb(174, 122, 122);
    margin: 30px;
    rotate: 5deg;
}
.attractions4{
    flex-basis: 70%;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    rotate: 5deg;
}
.About4{
    width: 40%;
    height: 70%;
    box-sizing: inherit;
    justify-content: center;
    text-align: center;
    background-color:  rgb(219, 216, 216);
    margin: 30px;
    rotate: -7deg;
}
.attractions5{
    flex-basis: 70%;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    rotate: -2px;
}
.About5{
    width: 40%;
    height: 70%;
    box-sizing: inherit;
    justify-content: center;
    text-align: center;
    background-color: rgb(109, 169, 230);
    margin: 30px;
    rotate: 4deg;
}
.attractions6{
    flex-basis: 70%;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    rotate: -9deg;
}
.About6{
    width: 40%;
    height: 70%;
    box-sizing: inherit;
    justify-content: center;
    text-align: center;
    background-color: rgb(222, 210, 135);
    margin: 30px;
    rotate: 8deg;
}

.cntct{
    margin:10px;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)),url(images/background.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    border-radius: 10px;
    padding: 100px;
}
.cntct h1{
    color: white;
    margin-bottom: 40px;
    padding: 0;
}

@media(max-width:1080px){
    .cntct h1{
        font-size: 24px;
    }
}

/* ----------------- Footer --------------- */
.footer{
    text-align: center;
    font-size: 20px;
    background-color: rgb(234, 218, 218);
}
.footer h3{
    font-size: 30px;
    font-weight: 600;
}
.footer p{
    color: black;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
